
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap'); */

@font-face {
  font-family: "Josefin Sans";
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Josefin Sans", sans-serif;
}


@import "tailwindcss";